<!DOCTYPE html>
<html>
<head>
  <title>Music Shop</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/stocklist">Stocklist</a>   
      </li>
    </ul>
  </nav>
  <%= yield %>


</body>
</html>