body {
  background: url('https://static.pexels.com/photos/8263/pexels-photo.jpg');
  background-size: 100%;
}



a, a:visited {

  color: black;
  text-decoration: : none;
}

a:hover {
  color: white;
}

nav {
  padding: 0px;
  margin: 0px;
}



ul li {
  font-family: verdana;
  text-decoration: bols;
  padding: 0px;
  margin-left: 10px;
  list-style-type: none;
}



.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}
