<h1>Albums</h1>

<h3><a href="/albums/new">Add a new album to the stock</a></h3>

<ul>
<% for album in @albums %>
  <li>
  <%album.id%><%=album.name%>
    <ul>
      <li>In stock: <%= album.current_stock %></li>
      <li>Stock target: <%= album.ideal_stock %></li>
      <p><a href="/albums/<%=album.id%>">Edit</a></p>
    </ul>
  </li>
<% end %>
</ul>

