<form method = "POST" action="/albums">

<label for="new_album">Name of the Album:</label>
<input type="text" id ="new_album" name="name">

<label for="stock_level">Qty to add in the stock:</label>
<input type="number" id="stock_level" name="current_stock">

<label for="target_stock_level">Ideal Stock:</label>
<input type="number" id="stock_level" name="ideal_stock">

<label for="artist">Artist:</label>
<select name="artist_id" id="artist">
  <% @artist.each do |artist| %>
    <option value= "<%=artist.id%>"><%=artist.name%>
      
    </option>
  <% end %>

</select>  

<input type="submit" value = "Add new album to stock">

</form>