
<h1>Here you can update your stock</h1>
  <form method = "POST" action="/albums/<%=params['id']%>/edit">
    <label for="current_stock">Updated Stock </label> 
    <input type="number" id = "current_stock" name= "new_number">
    <input type = "submit" value = "Update">
  </form>