<form method = "new_album" action="/stock_management/new_album">

<label for="new_album">Name of the Album:</label>
<input type="text" id ="new_album" name="name">

<label for="stock_level">Qty to add in the stock:</label>
<input type="number" id="stock_level" name="current_stock">

<input type="submit" value = "Add new album to stock">

</form>