<h1>Artists</h1>
<h3>Here you can see/add and edit your current list of artists.</h3>

<p>
  <a href="/artists/new">Create New Artist</a> 
</p>

<table>
  <tr>
    <th> Artists: </th>
  </tr>
  <% for artist in @artists %>
  <tr>
    <td><%= artist.name %></td>
  </tr>
  <% end %>
</table>