<form method = "POST" action="/artists/new">
  <label for="new_artist">Name of the artist:</label>
  <input type="text" id = "new_artist" name="name">
  <input type = "submit" value = "Create">
</form>