<h1><%=@artist.name %></h1>

<h3>Albums:</h3>
<ul>
<% for album in @artist.albums  %>
  <li> 
  <%= album.name%>
  </li>
<% end %>
</ul>
  <form action="/artists/<%=@artist.id%>/delete" method= "POST">
    <input type="submit" value="Delete Artist">
</form>


